<div class="create-task-container">
  <div class="form-header">
    <div class="icon-wrapper">
      @if (isEditMode) {
        <app-icon name="edit" [size]="30"></app-icon>
      } @else {
       <app-icon name="plus" [size]="40"></app-icon>
      }
    </div>
    <div>
      <h3>{{ isEditMode ? 'עדכון משימה' : 'משימה חדשה' }}</h3>
      <p>{{ isEditMode ? 'ערוך את פרטי המשימה הקיימת' : 'הגדר את הצעד הבא לקראת היעד' }}</p>
    </div>
  </div>

  <form [formGroup]="taskForm" (ngSubmit)="saveTask()">
    
    <div class="input-group">
      <label>שיוך לפרויקט</label>
      <div class="select-wrapper">
        <select formControlName="projectId">
          <option value="" disabled selected>בחר פרויקט...</option>
          @for ( project of projects() ; track project.id) {
            <option [value]="project.id">{{ project.name }}</option>
          }
        </select>
      </div>
    </div>

    <div class="input-group">
      <label>מה צריך לעשות?</label>
      <div class="input-field-wrapper">
        <input type="text" formControlName="title" placeholder="כותרת קצרה וברורה...">
      </div>
    </div>
    
    <div class="input-group">
        <label>פרטים נוספים</label>
        <div class="input-field-wrapper">
          <textarea formControlName="description" rows="3" placeholder="הסבר קצר על המשימה..."></textarea>
        </div>
    </div>

    <div class="input-group">
        <label>תאריך יעד</label>
        <div class="input-field-wrapper">
          <input type="date" formControlName="due_date">
        </div>
    </div>

    <div class="input-group">
        <label>סטטוס</label>
        <div class="select-wrapper">
          <select formControlName="status">
            <option value="todo">todo</option>
            <option value="in_progress">in_progress</option>
            <option value="done">done</option>
          </select>
        </div>
    </div>

    <div class="input-group">
        <label>עדיפות</label>
        <div class="select-wrapper">
          <select formControlName="priority">
            <option value="low">low</option>
            <option value="normal">normal</option>
            <option value="high">high</option>
          </select>
        </div>
    </div>

    <div class="actions">
      <button type="button" class="btn-secondary" (click)="close.emit()">ביטול</button>
      <button type="submit" class="btn-primary" [disabled]="!taskForm.valid">
        <span>{{ isEditMode ? 'שמור שינויים' : 'צור משימה' }}</span>
        @if (!isEditMode) {
             <app-icon name="check" [size]="25"></app-icon>
        } @else {
          
          <app-icon name="save" [size]="30"></app-icon>
        }
      </button>
    </div>
  </form>
</div>