<div class="modal-backdrop" (click)="cancel()">
  <div class="modal-dialog" (click)="$event.stopPropagation()">
    <div class="create-project-container">
      <div class="form-header">
        <div class="icon-wrapper">
          <app-icon name="project" [size]="36" ></app-icon>
        </div>
        <div class="title-wrapper">
          <h3>פרויקט חדש</h3>
          <p>הגדר את היעד הבא של הצוות שלך</p>
        </div>
      </div>

      <form [formGroup]="projectForm" (ngSubmit)="createProject()">
        <div class="input-group">
          <label>שייך לצוות</label>
          <div class="select-wrapper">
            <select formControlName="teamId">
              <option value="" disabled selected>בחר צוות מתוך הרשימה...</option>
              @for (team of teams() ; track team.id) {
                <option [value]="team.id">{{ team.name }} (ID: {{team.id}})</option>
              }
            </select>
          </div>
        </div>

        <div class="input-group">
          <label>שם הפרויקט</label>
          <div class="input-field-wrapper">
            <input type="text" formControlName="name" placeholder="לדוגמה: אפליקציית מובייל, מיתוג מחדש...">
          </div>
        </div>
        
        <div class="input-group">
          <label>תיאור (אופציונלי)</label>
          <div class="input-field-wrapper">
            <textarea formControlName="description" rows="4" placeholder="תיאור קצר לפרויקט..."></textarea>
          </div>
        </div>
        <div class="actions">
          <button type="button" class="btn-secondary" (click)="cancel()">ביטול</button>
          <button type="submit" class="btn-primary" [disabled]="!projectForm.valid">
            <span>צור פרויקט</span>
            <app-icon name="plus" [size]="18" [strokeWidth]="2.5"></app-icon>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>