


<div class="create-team-container">
  <div class="form-header">
    <div class="icon-wrapper">
      <app-icon name="users" [size]="30"></app-icon>
    </div>
    <div>
      <h3>הקמת צוות חדש</h3>
      <p>צור מרחב עבודה משותף לפרויקטים שלך</p>
    </div>
  </div>

  <form [formGroup]="teamForm" (ngSubmit)="createTeam()">
    <div class="input-group">
      <label for="teamName">שם הצוות</label>
      <div class="input-field-wrapper" [class.focused]="teamForm.get('name')?.dirty">
        <input 
          id="teamName" 
          type="text" 
          formControlName="name" 
          placeholder="לדוגמה: צוות פיתוח, מחלקת דיזיין..."
          autocomplete="off">
      </div>
      @if (teamForm.get('name')?.invalid && teamForm.get('name')?.touched) {
        <span class="error-message">נא להזין שם לצוות</span>
      }
    </div>
    
    <div class="actions">
      <button type="button" class="btn-secondary" (click)="cancel()">ביטול</button>
      <button type="submit" class="btn-primary" [disabled]="!teamForm.valid">
        <span>צור צוות</span>
       <app-icon name="plus" [size]="16"></app-icon>
      </button>
    </div>
  </form>
</div>